<!DOCTYPE html>
<html>
    <head>
        <title>Local Ground - High Charts Demo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/backbone/css/chart.css" />
    </head>
    <body>
        <div class="container-fluid" role="main">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a href="#">Charting Worksheet</a></li>
                </ul>
            </nav>
            <div class="row clearfix">
                <div id="controls" class="col-md-3 column chart-controls">
                    <div id="chart_options" class="chart-options"></div>
                    <div id="variables"></div>
                </div>
                <div id="chart_loader" class="col-md-9 column chart-panel"></div> 
            </div>
        </div>
    </body>
    <script src="/static/backbone/js/external/require.js"></script>
    <script src="/static/backbone/js/api/base.js"></script>
    <script>
        require(
				["jquery", "/static/backbone/js/api/charts/chart_editor.js"],
				function($, ChartEditor) {
					$(function() {
						var chartEditor = new ChartEditor();
                        chartEditor.start({});
					});
				}
            );
    </script>
</html>