<div class="row clearfix">
    <label class="col-md-4 control-label">Data:</label>
    <div class="col-md-8 column">
        <select id="forms_menu" class="form-control"></select>
    </div>
</div>
<div class="row clearfix">
    <label class="col-md-4 control-label">Chart Type:</label>
    <div class="col-md-8 column">
        <select id="charts_menu" class="form-control">
            <option value="bar">Bar Chart</option>
            <option value="pie">Pie Chart</option>
            <option value="scatter">Scatter Plot</option>
        </select>
    </div>
</div>