.navbar-default {
    background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);    
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}
.navbar {
    border-radius: 0px;
    border-width: 0px;
}
.container-fluid {
    padding: 0px;    
}

.container {
    /*width: 800px;*/
}
.navbar-default {
    margin: 0px;
}
.row {
    margin: 0px;
}
pre {
    height: 400px;
    overflow-y: auto;
    margin-top: 10px;
}
.dropdown > a {
    background-color: #FFF;
}
.dropdown > a:hover, .dropdown > a:focus, .dropdown.open > a:hover {
    background-color: #FFF !important;
}
.target-panel {
    background-color: #fff;
    border: solid 1px #CCC;
    padding: 0px 10px 5px 5px;
    margin-top: -1px;
    min-height: 40px;
}
.chart-options .column, .chart-options label {
    padding-left: 5px;
    padding-right: 5px;
}
.chart-panel {
    min-height: 200px;
    padding: 0px;
}

#chart_area {
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: auto;
}
#y_axis {
    background-color: #EEE;
    border-style: solid;
    border-color: #CCC;
    border-width: 0px 1px 0px 0px;
    padding: 5px;
    margin-top: 0px;
}
#x_axis {
    height: 50px;
    margin: 0px;
    background-color: #EEE;
}

[draggable=true] {
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    margin: 5px 5px 0px 0px;
    border-radius: 5px;
    border: solid 1px #CCC;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    background-color: #fff;
    font-size: 13px;
}
[draggable=true]:hover {
    background-color: #ccc;
}
[draggable=true] > i {
    font-style: normal;
    display: inline-block;
    /*margin-right: 5px;*/
    color: #428BB6;
}
.highlighted {
    background-color: #FF5CAD !important;   
}
.chosen {
    background-color: #ff67f8;
    border: solid 3px #FF5CAD;
    font-size: 8pt;
}
.textbox {
    width: 700px;
}
.textbox > input {
    width: 100% !important;
}
.fill {
    width: 100%;
    height: 100%;
}

.chart-controls {
    background-image: url('extras/bg.png');
    /*border-right: solid 1px #000;*/
    min-height: 200px;
    height: 800px;
    padding: 10px;
    -webkit-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.75);
    z-index: 1;
}
.chart-controls .row {
    margin: 3px;
}
.chart-controls .form-control {
    height: 26px;
}
.chart-controls label {
    font-weight: normal;
}
.chart-controls .fa-close {
    display: none;
}
.target-panel .fa-close {
    margin-top: 2px;
}
.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #aaa;
    text-shadow: rgb(130, 130, 130) 1px 0px 0px;
}




